@import "./shapes-styles.css";

:root {
  --background: #1c1f22;
  --onBackground: whitesmoke;
  --card-color: #282b2e;
  --border-color: #494848;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

body {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--background);
  color: var(--onBackground);
}

.container {
  position: relative;
  height: 500px;
  width: 500px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
  border: 1px solid var(--border-color);

  z-index: 1;
}

.card:hover,
.card-hover {
  transform: scale(1.2);
  background-color: var(--card-color);
  border: 1px solid transparent;
}

.hidden-text {
  position: absolute;
  bottom: 0px;
  visibility: hidden;
  font-size: 10px;
}

.card:hover > .hidden-text,
.card-hover > .hidden-text {
  visibility: visible;
  transform: translateY(-6px);
}

.line {
  position: absolute;
  height: 1px;
  width: 1px;
}

svg {
  position: absolute;
  fill: none;
  pointer-events: none;
}

.path {
  stroke: red;
  stroke-width: 2px;
  stroke-dasharray: 280;
  stroke-dashoffset: 280;
  animation: dash 3s ease-in-out;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }

  50% {
    stroke-dashoffset: 0;
  }

  70% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -280;
  }
}

@keyframes growLine-X {
  0% {
    width: 1px;
  }
  40% {
    width: 250px;
  }

  100% {
    width: 250px;
  }
}

@keyframes growLine-Y {
  0% {
    height: 1px;
  }

  40% {
    height: 250px;
  }

  100% {
    height: 250px;
  }
}
