.shape {
  height: 32px;
  width: 32px;
  border: 1px solid var(--border-color);
}

/* Rectangle */
.rectangle {
  border-radius: 4px;
}

.card:hover > .rectangle,
.card-hover > .rectangle {
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  border: 1px solid transparent;
  transform: scale(0.8) translateY(-10px);
}

/* Circle */
.circle {
  border-radius: 50%;
}

.card:hover > .circle,
.card-hover > .circle {
  background: linear-gradient(to right, #0acffe, #495aff);
  border: 1px solid transparent;
  transform: scale(0.8) translateY(-10px);
}

/* Diamond */
.diamond {
  transform: rotate(45deg);
  border-radius: 4px;
}

.card:hover > .diamond,
.card-hover > .diamond {
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  border: 1px solid transparent;
  transform: scale(0.8) translateY(-10px) rotate(45deg);
}
