.shape {
  height: 32px;
  width: 32px;
  fill: none;

  stroke: var(--border-color);
  stroke-width: 1;

  border: none;
}

.card-hover > .shape,
.card:hover > .shape {
  transform: scale(0.8) translateY(-10px);
  stroke: none;
}

.card:hover > .s-0,
.card-hover > .s-0 {
  fill: lightseagreen;
}

.card:hover > .s-1,
.card-hover > .s-1 {
  fill: lightgreen;
}

.card:hover > .s-2,
.card-hover > .s-2 {
  fill: lightsalmon;
}

.card:hover > .s-3,
.card-hover > .s-3 {
  fill: lightpink;
}

.card:hover > .s-4,
.card-hover > .s-4 {
  fill: lightcoral;
}

.card:hover > .s-5,
.card-hover > .s-5 {
  fill: lightslategray;
}
